{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="form-label-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Profile</div>
            </div>
            <div class="panel-body">
                <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
            </div>
            <div class="panel-footer"><a href="{{ url('fos_user_profile_edit') }}" class="btn btn-primary">Edit</a>
                <a href="{{ url('fos_user_change_password') }}" class="btn btn-info">Change Password</a>
            </div>

        </div>
    </div>
</div>
