{% extends 'general.html.twig' %}
{% block title %}
    {{parent()}}
    - Details Event
    {{event.id}}
{% endblock %}
{% block dynamic_content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Detailed report of backup event ID:
                {{event.id}}</h3>
        </div>
        <div class="panel-body">
            <ul class="">
                <li>
                    <strong>Server Name:</strong>
                    {{event.srvrsServers.name}}</li>
                <li>
                    <strong>Details:</strong>
                    {{event.backupmethod}}</li>
                <li>
                    <strong>Status:</strong>
                    {{ event.success == '0' ? "<span class='label label-success'>Success</span>" 
                     : event.success == '1' ? "<span class='label label-danger'>Failed</span>" 
                     : "<span class='label label-warning'>Warning</span>"}}
                <li>
                    <strong>Status:</strong>
                    {{event.srvrsServers.statusActive == '1' ? "Active" : "Not Active" }}</li>
                <li>
                    <strong>Date created:</strong>
                    {{ event.dateCreated is empty ? "" : event.dateCreated | date("m/d/Y H:i:s")}}</li>
                <li>
                    <strong>Backup size:</strong>
                    {% if event.backupsize < 1048576 and event.backupsize > 1024 %}
                        {{ (event.backupsize / 1024) |number_format(2, '.', '')}}
                        MB
                    {% elseif event.backupsize < 1024 %}
                        {{ event.backupsize  |number_format(2, '.', '')}}
                        KB
                    {% else %}
                        {{ (event.backupsize / 1024 / 1024 )| number_format(2, '.', '')}}
                        GB
                    {% endif %}
                <li>
                    <strong>*(LEGACY to be removed) Error:</strong>
                    {{event.error |nl2br}}</li>
                <li>
                    <strong>Log:</strong>
                    {{event.log |nl2br}}</li>
            </ul>
        </div>
        <div class="panel-footer">
            {% if referer != null %}
                <a class="btn btn-primary" href="{{referer}}">Go back</a>
            {% else %}
                <a class="btn btn-primary" href="{{ url('search_home') }}">Go back</a>
            {% endif %}
            <a class="btn btn-primary pull-right" href="{{ path('exportpdf', {'id': event.id}) }}" target="_blank">PDF Export</a>
        </div>
    </div>
{% endblock %}