{% extends 'general.html.twig' %}
{% block dynamic_content %}
    <div class="header">
        <h1>Detailed report of backup event ID: {{event.id}}</h1>
    </div>
    <ul class="inline-list">
        <li>Server Name: {{event.srvrsServers.name}}</li>
        <li>Details: {{event.backupmethod}}</li>
        <li>Status: 
            {{event.success == '0' ? "Success" : event.success == '1' ? "Failed" : "Warning"}}</li>
        <li></li>
        <li>Date created: {{ event.dateCreated is empty ? "" : event.dateCreated | date("m/d/Y H:i:s")}}</li>
        <li>Backup size: {{event.backupsize}}</li>
        <li>LEGACY?? Error: {{event.error}}</li>
        <li>Log: {{event.log}}</li>
    </ul>
 {% endblock %}