{% extends 'general.html.twig' %}

{% block title %}
    {{ parent() }}
    - Home{% endblock %}

{% block dynamic_content %}
    <div class="row">
        <div class="col-lg-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Search</h3>
                </div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="form-group form-horizontal">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="form-group form-horizontal">
                        {{ form_label(form.method) }}
                        {{ form_widget(form.method, {'attr':{'class':'selectpicker show-tick'}}) }}
                        {{ form_errors(form.method) }}
                    </div>
                    <div class="form-group form-horizontal">
                        {{ form_label(form.status) }}
                        {{ form_widget(form.status, {'attr': {'class':'status', 'multiple':'true'}}) }}
                        {{ form_errors(form.status) }}
                    </div>
                    <div class="form-group form-horizontal">
                        {{ form_label(form.comparer) }}
                        {{ form_widget(form.comparer, {'attr':{'class':'selectpicker show-tick'}}) }}
                        {{ form_errors(form.comparer) }}
                    </div>
                    <div class="form-group form-horizontal">
                        {{ form_label(form.size) }}
                        {{ form_widget(form.size, {'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.size) }}
                    </div>
                    <div class="form-group form-horizontal">
                        {{ form_label(form.date_start) }}
                        <div class='input-group'>
                            {{ form_widget(form.date_start, {'attr':{'class':'form-control'}}) }}
                        </div>
                        {{ form_errors(form.date_start) }}
                    </div>
                    <div class="form-group form-horizontal">
                        {{ form_label(form.date_end) }}
                        <div class='input-group'>
                            {{ form_widget(form.date_end, {'attr':{'class':'form-control'}}) }}
                        </div>
                        {{ form_errors(form.date_end) }}
                    </div>
                    <div class="form-group form-horizontal">
                        {{ form_label(form.count) }}
                        {{ form_widget(form.count, {'attr':{'class':'count show-tick'}}) }}
                        {{ form_errors(form.count) }}
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="container">{{ form_label(form.active) }}
                            {{ form_widget(form.active) }}
                            <span class="checkmark"></span>
                        </label>
                        {{ form_errors(form.active) }}
                    </div>
                    {{ form_widget(form.search, {'attr': {'class': 'btn btn-info'}}) }}
                    {{ form_end(form) }}
                </div>
                <div class="panel-footer">
                    <a class="btn btn-primary" href="{{ path('export_excel', {'parameters': parameters}) }}">Excel
                        Export</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Last 24 hours</div>
                            <div>Total backup executed:
                                {{ success + warning + failed }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-5">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="fa fa-check-circle-o fa-5x"></i>
                        </div>
                        <div class="col-xs-10 text-right">
                            <div class="huge">{{ success }}</div>
                            <div>Success!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-5">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="fa fa-warning fa-5x"></i>
                        </div>
                        <div class="col-xs-10 text-right">
                            <div class="huge">{{ warning }}</div>
                            <div>Warning!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-5">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="fa fa-close fa-5x"></i>
                        </div>
                        <div class="col-xs-10 text-right">
                            <div class="huge">{{ failed }}</div>
                            <div>Failed!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">Total records: {{ pagination.getTotalItemCount }}</div>
                {% if pagination is defined and pagination is not empty %}
                <table class="table table-responsive">
                    <tr>
                        <td>#</td>
                        <td>Actions</td>
                        <td>{{ knp_pagination_sortable(pagination, 'Server Name', 's.name') }}</td>
                        <td>{{ knp_pagination_sortable(pagination, 'Date created', 'n.dateCreated') }}</td>
                        <td>{{ knp_pagination_sortable(pagination, 'Execution Status', 'n.success') }}</td>
                        <td>{{ knp_pagination_sortable(pagination, 'Size', 'n.backupsize') }}</td>
                        <td>{{ knp_pagination_sortable(pagination, 'Backup Method', 'n.backupmethod') }}</td>
                        <td>Production</td>
                    </tr>
                    {% for key, row in pagination %}
                        <tr>
                            <td>{{ (current_page - 1) * count + key + 1 }}</td>
                            <td>
                                <a href="{{ path('event_by_id', {'event_id': row.id}) }}">View
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></a>
                            </td>
                            <td>
                                <a href="{{ path('edit_server', {'id': row.srvrsservers.id}) }}">Edit
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                |
                                {{ row.srvrsservers.name }}
                            </td>
                            <td>{{ row.dateCreated is empty ? "" : row.dateCreated | date("m/d/Y H:i:s") }}</td>
                            <td>{{ row.success == '0' ? "<span class='badge badge-success btn-group-justified'>Success</span>"
                                : row.success == '1' ? "<span class='badge badge-error btn-group-justified'>Failed</span>"
                                : "<span class='badge badge-warning btn-group-justified'>Warning</span>" }}</td>
                            <td>
                                {% if row.backupsize < 1048576 and row.backupsize > 1024 %}
                                    {{ (row.backupsize / 1024) |number_format(2, '.', '') }}
                                    MB
                                {% elseif row.backupsize < 1024 %}
                                    {{ row.backupsize  |number_format(2, '.', '') }}
                                    KB
                                {% else %}
                                    {{ (row.backupsize / 1024 / 1024 )| number_format(2, '.', '') }}
                                    GB
                                {% endif %}
                            </td>
                            <td>{% if row.backupmethod == "ncscript-py" %}
                                    nc-backup-py
                                {% elseif row.success == '3' and row.backupmethod == "BRT: No report" %}
                                    {% set foundw = 0 %}
                                    {% for state, lastsuccess in result %}
                                        {% if result[state].id == row.srvrsservers.id %}
                                            BRT: No report {{ lastsuccess.difference }}
                                            {% set foundw = 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if foundw == 0 %}
                                        BRT: Never Reported
                                    {% endif %}
                                {% elseif row.success == '1' %}
                                    {% set foundf = 0 %}
                                    {% for state, lastsuccess in result %}
                                        {% if result[state].id == row.srvrsservers.id %}
                                            Failed {{ row.backupmethod }} {{ lastsuccess.difference }}
                                            {% set foundf = 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if foundf == 0 %}
                                        {{ row.backupmethod }} Never Reported
                                    {% endif %}
                                {% elseif row.success == '3' %}
                                    {% set foundf = 0 %}
                                    {% for state, lastsuccess in result %}
                                        {% if result[state].id == row.srvrsservers.id %}
                                            BRT: {{ row.backupmethod }} {{ lastsuccess.difference }}
                                            {% set foundf = 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if foundf == 0 %}
                                        {{ row.backupmethod }} Never Reported
                                    {% endif %}
                                {% else %}
                                    {{ row.backupmethod }}
                                {% endif %}
                            </td>
                            <td>{{ row.srvrsservers.statusactive == '1' ? "Active" : "Not Active" }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <h4>No search results available for this criteria!</h4>
                </div>
            {% endif %}
            <div class="pagination">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        jQuery('#srvrs_servers_date_start').datetimepicker({
            format: 'm/d/Y H:i:s'
        });
        jQuery('#srvrs_servers_date_end').datetimepicker({
            format: 'm/d/Y H:i:s'
        });
        $('.selectpicker').selectpicker({
            width: 165,
        });
        $('.status').selectpicker({
            width: 165,
        });
        $('.count').selectpicker({
            width: 59,
        });
    </script>
{% endblock %}
