{% extends 'general.html.twig' %}
{% block title %}
    {{parent()}}
    - About{% endblock %}
{% block header %}
    <div>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">BRT ></a>
            </div>
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        {{app.user.username}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ url('fos_user_profile_show') }}">
                                <i class="fa fa-fw fa-user"></i>
                                Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#logout">
                                <i class="fa fa-fw fa-power-off"></i>
                                Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div id="navbar" class="navbar-collapse collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('search_home') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ path('stats_general') }}">Report</a>
                    </li>
                    <li class="active">
                        <a href="{{ path('about_main') }}">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}
{% block dynamic_content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>BRT</h4>
        </div>
        <div class="panel-body">
            <h5>BRT</h5>
            Is the system to show reports about backups created by other software. We created this project to store, show, and sytetize information about the backups made with other external software. Esentially you need to send a post request with a few key fields to be able to see the reports online.
            <h5>nc-backup-py</h5>
            (git repo
            <a href="https://github.com/ChinaNetCloud/nc-backup-py">here</a>) intends to be a comprehensive one stop solution for backups. It can backup files, mySQL databases, Postgres databases, LVM, MongoDB and many more to another drive, to the cloud or to another server via the network. To quickly set up a backup and never lose your files again go to
            <a href="https://github.com/ChinaNetCloud/nc-backup-py#quick-start">
                Quick Start</a>. See
            <a href="https://github.com/ChinaNetCloud/nc-backup-py#features">
                Features</a>
            for a complete list of current and planned Features. See
            <a href="https://github.com/ChinaNetCloud/nc-backup-py#how-to-contribute">
                How to contribute</a>
            if you would like to join us. If you are interested on leaning about the structure of the project. See
            <a href="https://github.com/ChinaNetCloud/nc-backup-py/blob/master/docs/OVERVIEW.md">OVERVIEW</a>
            If you think the project is useful or has potential, please add a star.
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>The project repo and more information
            </h4>
        </div>
        <div class="panel-body">
            <a href="https://github.com/ChinaNetCloud/brt">https://github.com/ChinaNetCloud/brt</a>
        </div>
    </div>
{% endblock %}