{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('fos_user_security_check') }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}
    <h2 class="form-signin-heading">Please sign in</h2>

    <div class="form-label-group">
        <input type="text" id="username" class="form-control" name="_username" placeholder="{{ 'security.login.username'|trans }}" required="required" autofocus="autofocus" autocomplete="username">
        <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required="required" autocomplete="current-password">
        <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on">
            {{ 'security.login.remember_me'|trans }}
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
</br>
<p class="mt-5 mb-3 text-muted text-center">&copy; 2008-2018</p>
</form>